.employees{
  font-family: var(--main-font);
  box-sizing: border-box;
  padding-inline: 1rem;
  inline-size: 100%;
  margin: 0 auto;
  margin-block-start: calc(68px + 2rem);
  margin-block-end: 2rem;
}

.employees-first{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  align-items: center;
  margin-block-end: 2.25rem;
}

.employees-title{
  display: flex;
  gap: .5rem;
}

.employees-title > h2{
  font-size: 1.3rem;
  margin: 0;
}

.employees-button{
  font-size: .8rem;
  background-color: var(--primaryC);
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: transform .2s;
  display: inline-block;
  font-family: var(--second-font);
  font-size: 1rem;
}

.employees-button:active{
  transform: scale(.9);
}

.employees-button:hover{
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue-20);
}

.employees-second{
  display: flex;
  flex-direction: column;
  font-family: var(--second-font);
  font-size: 1rem;
  align-items: center;
  gap: 1.5rem;
}

.employees-second img{
  inline-size: 90%;
  max-inline-size: 20rem;
}

.employees-second p{
  margin: 0;
  text-align: center;
}

.employees-form{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form-concept{
  font-size: 1.25rem;
  border-bottom: 2px solid var(--primaryC);
  padding-block-end: .5rem;
  display: inline-block;
  margin: 0;
  margin-block-end: 2.5rem;
  font-weight: 600;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.register-data{
  display: flex;
  gap: 0.75rem;
}

.register-input{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  inline-size: 100%;
  font-family: var(--main-font);
}

.register-input input{
  border: none;
  border-block-end: 1px solid var(--black);
  font-family: var(--second-font);
  padding: .5rem;
  font-size: 1rem;
}

.register-input label{
  font-weight: 500;
}

.register-input > select{
  border: none;
  border-block-end: 1px solid var(--black);
  font-family: var(--second-font);
  padding: .5rem;
  font-size: 1rem
}

.register-double{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.register-double > .register-data{
  flex: 1;
}

.register-input p{
  margin: 0;
  font-family: var(--second-font);
  font-size: 1rem;
}

.register-input >.read-only{
  color: var(--grey-10);
}

.form-cta{
  background-color: var(--primaryC);
  color: var(--white);
  padding-block: .75rem;
  border: 0;
  border-radius: .5rem;
  font-size: 1.1rem;
  font-family: var(--second-font);
  transition: transform .2s;
  align-self: flex-end;
  padding-inline: 3.5rem;
  cursor: pointer;
}

.form-cta:active{
  transform: scale(.9);
}

.form-cta:hover{
  background-color: var(--blue-20);
}

.form-cta.cta-edit{
  background-color: var(--yellow);
  color: var(--black);
}

.form-cta.cta-edit:hover{
  background-color: var(--yellow-10);
}

.cta-show{
  display: flex;
  margin-inline-start: auto;
  inline-size: max-content;
  cursor: pointer;
  text-decoration: none;
  margin-block-start: 2.5rem;
}

.cta-show > .rtable-span{
  display: initial;
}

.invalid-feedbackk{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--red-10);
  display: inline-block;
}

.rtable-lastnamem,
.rtable-address,
.rtable-email,
.rtable-phone{
  display: none;
}

.rtable-id,
.rtable-actions{
  flex: 1;
}

.rtable-name,
.rtable-email{
  flex: 2.5;
}

.rtable-item.rtable-id{
  font-weight: 600;
}

@media screen and (min-width: 375px){
  .rtable-phone{
    display: initial;
    flex: 1;
  }
}

@media screen and (min-width: 500px){
  .employees-first{
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .rtable-span{
    font-size: 1rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 600px){
  .rtable-email{
    display: initial;
  }
}

@media screen and (min-width: 768px){
  .employees{
    margin-block-start: 2rem;
    margin-block-end: 3rem;
    padding-inline: 3rem;
  }

  .employees-first{
    margin-block-end: 2rem;
  }

  .employees-first.employees-concept{
    margin-block-end: 2.5rem;
  }

  .employees-title > h2{
    font-size: 1.8rem;
  }

  .employees-second img{
    max-inline-size: 30rem;
  }

  .register-double{
    flex-direction: row;
    gap: 4rem;
  }

  .cta-show{
    margin-block-start: 4rem;
  }

  .rtable-lastnamem{
    display: initial;
    flex: 1.5;
  }

  .rtable-lastnamep{
    display: initial;
    flex: 1.5;
  }

  .rtable-actions{
    flex: 2;
  }
}

@media screen and (min-width: 1024px){
  .rtable-address{
    display: initial;
    flex: 3;
  }

  .rtable-name{
    flex: 2;
  }
}