.company{
  font-family: var(--main-font);
  box-sizing: border-box;
  padding-inline: 1rem;
  inline-size: 100%;
  margin: 0 auto;
  margin-block-start: calc(68px + 2rem);
  margin-block-end: 2rem;
  /* max-inline-size: 75rem; */
}

.company-first{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  align-items: center;
  margin-block-end: 2.25rem;
}

.company-title{
  display: flex;
  gap: .5rem;
}

.company-title > h2{
  font-size: 1.3rem;
  margin: 0;
}

.company-button{
  font-size: .8rem;
  background-color: var(--primaryC);
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: transform .2s;
  display: inline-block;
  font-family: var(--second-font);
  font-size: 1rem;
}

.company-button:active{
  transform: scale(.9);
}

.company-button:hover{
  background-color: var(--blue-20);
}

.company-second{
  display: flex;
  flex-direction: column;
  font-family: var(--second-font);
  font-size: 1rem;
  align-items: center;
  gap: 1.5rem;
}

.company-second img{
  inline-size: 90%;
  max-inline-size: 20rem;
}

.company-second p{
  margin: 0;
  text-align: center;
}

.company-info{
  margin-block-start: 2rem;
}

.company-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 360px));
  gap: 2rem;
  justify-content: center;
}

.cardd{
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(235, 235, 235, 0.8) -6px -2px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  border-radius: .5rem;
  inline-size: 100%;
  box-sizing: border-box;
  max-inline-size: 360px;
  justify-content: center;
  font-family: var(--second-font);
}

.cardd-item{
  display: flex;
  gap: 1rem;
}

.cardd-body{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.cardd-body > h2{
  font-weight: 500;
  font-size: 1.2rem;
}

.cardd-body > p{
  font-size: 1rem;
}

.cardd-body > a{
  text-decoration: none;
  color: var(--primaryC);
  font-size: 1rem;
  font-weight: 600;
}

.cardd-body > h2, .cardd-body > p{
  margin: 0;
}

.cardd-actions{
  display: flex;
  gap: 1rem;
}

.cardd-actions > a{
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform .2s;
  font-size: 1rem;
  cursor: pointer;
  color: var(--black);
  font-weight: 400;
  gap: .5rem;
}

.cardd-actions > a:hover{
  text-decoration: underline;
}

.cardd-actions > a:active{
  transform: scale(.9);
}

.cardd-form{
  display: flex;
  gap: .15rem;
  cursor: pointer;
}

.cardd-form:hover{
  text-decoration: underline;
}

.cardd-form button{
  border: none;
  background: none;
  padding: 0;
  font-family: var(--second-font);
  font-size: 1rem;
}

.cardd-form img{
  block-size: fit-content;
}

.company-form{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form-concept{
  font-size: 1.25rem;
  border-bottom: 2px solid var(--primaryC);
  padding-block-end: .5rem;
  display: inline-block;
  margin: 0;
  margin-block-end: 2.5rem;
  font-weight: 600;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.register-data{
  display: flex;
  gap: 0.75rem;
}

.register-input{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  inline-size: 100%;
  font-family: var(--main-font);
}

.register-input input{
  border: none;
  border-block-end: 1px solid var(--black);
  font-family: var(--second-font);
  padding: .5rem;
  font-size: 1rem;
}

.register-input label{
  font-weight: 500;
}

.register-input > select{
  border: none;
  border-block-end: 1px solid var(--black);
  font-family: var(--second-font);
  padding: .5rem;
  font-size: 1rem
}

.register-data.register-image{
  flex-direction: column;
}

.data-body{
  display: flex;
  gap: 0.75rem;
}

.register-double{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.register-double > .register-data{
  flex: 1;
}

.register-input p{
  margin: 0;
  font-family: var(--second-font);
}

.register-input >.read-only{
  color: var(--grey-10);
}

.form-cta{
  background-color: var(--primaryC);
  color: var(--white);
  padding-block: .75rem;
  border: 0;
  border-radius: .5rem;
  font-size: 1.1rem;
  font-family: var(--second-font);
  transition: transform .2s;
  align-self: flex-end;
  padding-inline: 3.5rem;
  cursor: pointer;
}

.form-cta:active{
  transform: scale(.9);
}

.form-cta:hover{
  background-color: var(--blue-20);
}

.form-cta.cta-back{
  display: flex;
  inline-size: max-content;
  margin-left: auto;
  margin-block-start: 3rem;
  text-decoration: none;
}

.invalid-feedbackk{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--red-10);
}

.company-file{
  position: relative;
  display: flex;
  flex-direction: column;
}

.company-file::before{
  background-color: var(--primaryC);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar logotipo';
  position: absolute;
  left: 0;
  top: 40%;
  bottom: 0;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  font-family: var(--second-font);
}

.company-file input[type="file"] {
  opacity: 0;
  display: inline-block;
  max-width: 10rem;
  box-sizing: border-box;
}

.company-image{
  display: flex;
  justify-content: center;
}

.company-none{
  display: none;
}

@media screen and (min-width: 500px){
  .company-first{
    justify-content: flex-start;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px){
  .company{
    margin-block: 3rem;
    margin-block-start: 2rem;
    padding-inline: 3rem;
  }

  .company-first{
    margin-block-end: 1.8rem;
  }

  .company-title > h2{
    font-size: 1.8rem;
  }

  .company-second img{
    max-inline-size: 30rem;
  }

  .register-double{
    flex-direction: row;
    gap: 4rem;
  }

}

@media screen and (min-width: 900px){
  .company-cards{
    justify-content: flex-start;
  }
}