.login-container{
  block-size: 100%;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

.login-first{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: linear-gradient(180deg, var(--primaryC) 0%, var(--blue-10) 100%);
  position: relative;
  padding-inline: 1rem;
  padding-block-start: 1rem;
}

.login-image{
  z-index: 5;
  max-inline-size: 20rem;
  inline-size: 90%;
}

.login-wave{
  left: 0;
  right: 0;
  block-size: 9.375rem;
  position: absolute;
  bottom: -7%;
  background-image: url('../images/illustrations/waveLoginnn.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.login-title{
  font-size: 2.5rem;
  margin: 0;
  color: var(--white);
}

.login-second{
  padding-block: 1rem;
  flex: 1;
  inline-size: 90%;
  margin: 0 auto;
  max-inline-size: 30rem;
}

.second-title{
  text-align: center;
  margin-block-end: 2rem;
  font-size: 1.5rem;
  color: var(--blue-30);
}

.second-form{
  font-size: 1.5rem;
}

.login-form{
  display: flex;
  flex-direction: column;
  z-index: 5;
  gap: 2.5rem;
  margin-block-end: 2rem;
}

.login-email, 
.login-password{
  display: flex;
  gap: 0.75rem;
}

.login-input{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  inline-size: 100%;
}

.login-input input{
  border: none;
  border-block-end: 1px solid var(--black);
  font-family: var(--second-font);
  padding: .5rem;
}

.invalid-feedback{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--red-10);
}

.login-cta{
  background-color: var(--primaryC);
  color: var(--white);
  padding-block: 0.75rem;
  border: 0;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-family: var(--second-font);
  transition: transform .2s;
  cursor: pointer;
}

.login-cta:active{
  transform: scale(.9);
}

.login-cta:hover{
  background-color: var(--blue-20);
}

.login-line{
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--white-10);
  display: block;
}

.login-link{
  font-family: var(--second-font);
  text-align: center;
  font-size: 1rem;
}

.login-link a{
  color: var(--primaryC);
  text-decoration: none;
}

.login-link a:hover{
  text-decoration: underline;
}

@media screen and (min-width: 768px){
  .login-container{
    flex-direction: row;
  }

  .login-first{
    inline-size: 55%;
    justify-content: center;
    gap: 2.5rem;
  }

  .login-image{
    max-inline-size: 32.5rem;
  }

  .login-wave{
    background-image: url('../images/illustrations/wave-login-d.svg');
    bottom: 0;
    block-size: 20rem;
    background-position: left;

  }

  .login-title{
    font-size: 3rem;
  }

  .login-second{
    inline-size: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2.5rem;
    max-inline-size: 37.5rem;
  }

  .second-title{
    font-size: 2rem;
    margin-block-end: 4rem;
  }

  .login-input label{
    font-size: 1rem;
  }

  .login-input input{
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px){
  .login-first{
    gap: 4rem;
  }

  .login-title{
    font-size: 4rem;
  }
}