.navv{
  inline-size: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.navv.is-full{
  block-size: 100vh;
}

.navv-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  box-sizing: border-box;
}

.navv-options{
  display: none;
  position: absolute;
  inset-inline: 0;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  background: rgb(76, 0, 255);
  padding-block-start: 2rem;
}

.navv-options.is-visible{
  display: flex;
  left: 0%;
  top: 3.5rem;
  right: 0;
}

.navv-element{
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
}

.navv-element > img,
.navv-element > a{
  transition: transform .2s ease-in-out;
}

.navv-element > img:active,
.navv-element > a:active{
  transform: scale(.9);
}

.navv-element > a:hover{
  text-decoration: underline;
}

.navv-ancla{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.navv-ancla:hover > span{
  text-decoration: underline;
}

.navv-menu{
  padding: .5rem 1rem;
  box-sizing: border-box;
  inline-size: 100%;
  background: rgb(76, 0, 255);
  flex: 1;
}

.navv-hamburger,.navv-hamburgerD{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  color: white;
}

.navv-hamburger > img,.navv-hamburgerD > img{
  cursor: pointer;
}

.navv-hamburgerD{
  display: none;
}

.navv-hamburger > p{
  margin: 0;
}

.link-text{
  color: white;
  margin: 0;
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px){
  .navv{
    inline-size: auto;
    position: sticky;
    block-size: 100vh;
  }
  
  .navv-menu{
    padding-block-start: 2rem;
  }

  .navv.is-small{
    max-inline-size: 12rem;
    inline-size: 100%;
  }

  .navv-hamburger{
    display: none;
  }

  .navv-hamburgerD{
    display: flex;
    justify-content: center;
  }

  .navv-options{
    display: flex;
    padding-inline: 1rem;
  }

  .link-text{
    display: none;
  }

  .link-text.is-hide{
    display: block;
  }
}
