.service{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding-inline: 1rem;
  inline-size: 100%;
  margin: 0 auto;
  margin-block-start: calc(68px + 2rem);
  margin-block-end: 2rem;
}

.service-first{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  align-items: center;
  margin-block-end: 2.25rem;
}

.service-title{
  display: flex;
  gap: .5rem;
}

.service-title > h2{
  font-size: 1.3rem;
  margin: 0;
}

.service-button{
  font-size: .8rem;
  background-color: #6C63FF;
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform .2s;
  display: inline-block;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

.service-button:active{
  transform: scale(.9);
}

.service-button:hover{
  text-decoration: none;
  color: white;
}

.service-second{
  display: flex;
  flex-direction: column;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
  align-items: center;
  gap: 1.5rem;
}

.service-second img{
  inline-size: 90%;
  max-inline-size: 20rem;
}

.service-second p{
  margin: 0;
  text-align: center;
}

.service-form{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form-concept{
  font-size: 1.25rem;
  border-bottom: 2px solid #6C63FF;
  padding-block-end: .5rem;
  display: inline-block;
  margin: 0;
  margin-block-end: 2.5rem;
  font-weight: 600;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.register-data,
.register-data > .data-body{
  display: flex;
  gap: 0.75rem;
}

.register-data.register-image{
  flex-direction: column;
}

.register-input{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  inline-size: 100%;
  font-family: 'Inter', sans-serif;
}

.register-input input{
  border: none;
  border-block-end: 1px solid black;
  font-family: 'League Spartan', sans-serif;
  padding: .5rem;
  font-size: 1rem;
}

.register-input label{
  font-weight: 600;
}

.register-input > select{
  border: none;
  border-block-end: 1px solid black;
  font-family: 'League Spartan', sans-serif;
  padding: .5rem;
  font-size: 1rem
}

.register-double{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.register-double > .register-data{
  flex: 1;
}

.register-input p{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

.register-input >.read-only{
  color: #888888;
}

.invalid-feedbackk{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #e3342f;
}

.register-input > textarea{
  border: none;
  border-block-end: 1px solid black;
  font-family: 'League Spartan', sans-serif;
  padding: 0.5rem;
  resize: vertical;
  font-size: 1rem;
  min-height: 4rem;
}

.register-file{
  position: relative;
  display: flex;
  flex-direction: column;
}

.register-file::before{
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar imagen';
  position: absolute;
  left: 0;
  top: 40%;
  bottom: 0;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  font-family: 'League Spartan', sans-serif;
}

.register-file input[type="file"] {
  opacity: 0;
  display: inline-block;
  max-width: 10rem;
  box-sizing: border-box;
}

.service-image{
  display: flex;
  justify-content: center;
}

.form-cta{
  background-color: #5D5FEF;
  color: white;
  padding-block: .75rem;
  border: 0;
  border-radius: .5rem;
  font-size: 1.1rem;
  font-family: 'League Spartan', sans-serif;
  transition: transform .2s;
  align-self: flex-end;
  padding-inline: 3.5rem;
  cursor: pointer;
}

.form-cta:active{
  transform: scale(.9);
}

.cta-show{
  display: flex;
  margin-inline-start: auto;
  inline-size: max-content;
  cursor: pointer;
  text-decoration: none;
  margin-block-start: 2.5rem;
}

.rtable-image,
.rtable-description,
.rtable-price,
.rtable-type{
  display: none;
}

.rtable-item.rtable-description{
  text-align: start;
}

.rtable-id{
  flex: 1;
}

.rtable-name{
  flex: 2.5;
}

.rtable-item.rtable-id{
  font-weight: 600;
}

.rtable-image{
  max-inline-size: 10rem;
}

.rtable-item.rtable-type{
  border-radius: .5rem;
  padding-block: .5rem;
  padding-inline: .75rem;
}

.rtable-item.rtable-type.isProduct{
  background: #F48343;
  color: white;
}

.rtable-item.rtable-type.isService{
  background: #628A0D;
  color: white;
}

@media screen and (min-width: 425px){
  .rtable-price{
    display: initial;
    flex: 2;
  }

  .rtable-id{
    font-size: 1.2rem;
  }

  .rtable-id,
  .rtable-name,
  .rtable-price,
  .rtable-image,
  .rtable-type,
  .rtable-actions,
  .rtable-span,
  .rtable-description{
    font-size: 1.15rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 500px){
  .service-first{
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .rtable-image{
    display: initial;
    flex: 2;
  }
}

@media screen and (min-width: 680px){
  .rtable-type{
    display: initial;
    flex: 1;
  }
}

@media screen and (min-width: 768px){
  .service{
    margin-block: 3rem;
    padding-inline: 3rem;
  }

  .service-first{
    margin-block-end: 2rem;
  }

  .service-first.service-concept{
    margin-block-end: 2.5rem;
  }

  .service-title > h2{
    font-size: 1.8rem;
  }

  .service-second img{
    max-inline-size: 30rem;
  }

  .register-double{
    flex-direction: row;
    gap: 4rem;
  }

  .cta-show{
    margin-block-start: 4rem;
  }
}

@media screen and (min-width: 960px){
  .rtable-description{
    display: initial;
    flex: 1;
  }

  .rtable-description{
    flex: 3;
  }
}

@media screen and (min-width: 1024px){
  .rtable-item.rtable-id{
    font-size: 1.3rem;
  }
}